@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resetting default browser margins */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a; /* Same as bg-slate-900 */
}

/* Taake horizontal scrollbar na aaye */
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}